

#home img {
  margin-top: 1em;
}

@media (min-width: 600px) {

  #container header h1 {
    margin-bottom: -1em;
  }

}

article p .static-image {
  width: 50%;
}

#home  {
  text-align: center;
}

#home h2 {
  margin-top: 2em;
}

#home a {
  border-bottom: 0.2em solid #666666;
}